:root{
--border_width: 2px;
}

#particles{
  position: fixed;
  inset: 0px;
  height: 100vmax;
  width: 100vmax;
  z-index:99999;
  overflow: hidden !important;
} 

.circle-animation{
  position:fixed;
  top: 50%;
  left: 50%;
  width: 200vmax;
  height: 200vmax;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: shrink-circle 2s ease-in-out forwards;
  animation-iteration-count: 1;
  z-index: 999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: shrink-circle 2s ease-in-out forwards;
}


@keyframes shrink-circle {
  100%{
    transform: translate(-50%, -50%) scale(0);
    }
}

.button-animation:hover:before {
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0deg);
  transition-delay: 0s, 0.3s, 0.6s;
}

/* humberger menu animation  */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 {
  position: fixed;
  z-index: 12345;
  top: -30px;
  right: 10px;
  transform: rotate(180deg) scale(0.4);
  -webkit-transform: rotate(180deg) scale(0.4);
  -moz-transform: rotate(180deg) scale(0.4);
  -ms-transform: rotate(180deg) scale(0.4);
  -o-transform: rotate(180deg) scale(0.4);
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #ffffff;

}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  background: #ffffff;

}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #ffffff;

}


/* nav menu  */
#nav-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1234;
  left: -100%;
  top: 0;
  transition: left 0.15s linear;
  color: white;
}

#nav-menu footer{
  position: absolute;
  bottom: -1px !important;
  background-color: white;
  color: black;
}

/* button aniation  */
.button-animation{
  position: relative;
}
.button-animation:before {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: calc(4px / -1);
  left: calc(4px / -1);
  background: linear-gradient(to right, #222 0%, #222 100%), linear-gradient(to top, #222 50%, transparent 50%), linear-gradient(to top, #222 50%, transparent 50%), linear-gradient(to right, #222 0%, #222 100%), linear-gradient(to left, #222 0%, #222 100%);
  background-size: 100% var(--border_width), var(--border_width) 200%, var(--border_width) 200%, 0% var(--border_width), 0% var(--border_width);
  background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  transition: transform 0.2s ease-in-out, background-position 0.2s ease-in-out, background-size 0.2s ease-in-out;
  transform: scaleX(0) rotate(180deg);
  transition-delay: 0.4s, 0.2s, 0s;
}
.button-animation:hover:before {
  background-size: 200% var(--border_width), var(--border_width) 400%, var(--border_width) 400%, 55% var(--border_width), 55% var(--border_width);
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(180deg);
  transition-delay: 0s, 0.2s, 0.4s;
}




