
/* MEDIA QUERIES  */
/* Small devices (phones, less than 400px) */
@media (max-width: 499px){
  header{
    display: none !important;
  }
  html, body{
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.9rem !important;

  }

  p{
  font-weight: 300 !important;
  font-size: 1rem !important;
  line-height: 1.7;
  }

  #humb{
    display: block;
  }

  #nav-menu{
  display: block;
  }

  .profile p{
    font-size: 1rem !important;
  }

  .banner h1{
    font: 800 1.5rem Roboto,sans-serif !important;
    margin-bottom: -10px !important;
    white-space: wrap;
    word-break: break-all;
    letter-spacing: 0.7rem;
  }

  .banner h5{
    font: bold 1rem Roboto,sans-serif !important;
    letter-spacing: 1.2rem !important;
    white-space: wrap;
    word-break: break-all;
  }

  .container{
    width: 90%;
  } 

  .section-set{
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-card{
    width: 95%;
    display: flex;
    justify-content: start;
  }

  section h1{
    font: 600 28px Roboto,sans-serif !important;
  }

  .profile h1{
  margin-bottom: 30px;
  }

  .profile, .profile .container{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .container>div{
    display: flex;
    align-self: center !important;
    justify-content: center;
  }

  #profile img{
    width: 120px;
    height: 120px;
  }

    img{
    width: 80%;
  }
  .profile>p{
    text-indent: 0px;
  }

  /* space between section cards  */
  .section-set{
    row-gap: 30px !important;
  }
  #skill img{
  width: 50px;
  align-self: center;
  margin-top: 0px;  
  }

  /* portfolio section style  */
  #portfolio div{
    flex-direction: column;
    gap: 10px;
  }

  #portfolio div img{
    width: 50% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    border: 1px solid gray;
  }

  /* certificate styles  */
  .certificate-card{
    flex-direction: column;
    gap: 10px;
  }
  .mobile-h3{
    margin: 0 !important;
    font-size: 1.1rem !important;
    text-align: center !important;
    letter-spacing: 1px !important;
    word-spacing: 2px !important;
  }
  .certificate-card img{
    align-self: center !important;
    width: 60px;
  }

  /* contact section fix  */
  #contact .container .back-face{
    height: 90px !important;
    width: 90% !important;
    line-height: 2 !important;
    font-size: 0.8rem;
    letter-spacing: 3px;
  }

}

@media (min-width: 500px) and (max-width: 599px) {
  header{
    display: none !important;
  }
  html, body{
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
  }

  #humb{
    display: block;
  }

  #nav-menu{
  display: block;
  }
  .banner h1{
    font: 800 2.2rem Roboto,sans-serif !important;
    margin-bottom: -10px !important;
    white-space: wrap;
    word-break: break-all;
    letter-spacing: 1.2rem;
  }

  .banner h5{
    font: bold 1.5rem Roboto,sans-serif !important;
    letter-spacing: 1.4rem !important;
    white-space: wrap;
    word-break: break-all;
  }

  .container{
    width: 90%;
  } 
  .section-set{
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-card{
    width: 95%;
    display: flex;
    justify-content: start;
  }

    section h1{
    font: 600 28px Roboto,sans-serif !important;
  }

  .profile, .profile .container{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .container>div{
    display: flex;
    align-self: center !important;
    justify-content: center;
  }

  #profile img{
    width: 130px;
    height: 130px;
  }

    img{
    width: 80%;
  }
  .profile>p{
    text-indent: 0px;
  }

  
  /* space between section cards  */
  .section-set{
    row-gap: 30px !important;
  }
  #skill img{
  width: 50px;
  align-self: center;
  margin-top: 0px;  
  }
  
  /* portfolio section style  */
  #portfolio div{
    flex-direction: column;
    gap: 10px;
  }

  #portfolio div img{
    width: 50% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    border: 1px solid gray;
  }

  /* certificate styles  */
  .certificate-card{
    flex-direction: column;
    gap: 10px;
  }
  .mobile-h3{
    margin: 0 !important;
    font-size: 1.1rem !important;
    text-align: center !important;
    letter-spacing: 1px !important;
    word-spacing: 2px !important;
  }
  .certificate-card img{
    align-self: center !important;
    width: 60px;
  }

  /* contact section fix  */
  #contact .container .back-face{
    height: 100px !important;
    width: 90% !important;
    line-height: 1.9 !important;
    font-size: 1rem;
  }
  
}

@media (min-width: 600px) and (max-width: 1000px) {
  header ul{
    margin: auto;
    width:90%;
    padding-inline-start: 0;
    text-transform: uppercase;
    list-style-type: none;
    list-style-position: inside;
  }
  header li{
  padding: 0px 10px;
  height: 50px;
  margin-right: 15px;
  font: 600 12px 'Roboto', sans-serif !important;
  flex-grow: 1;
  cursor:pointer;
}

  html, body{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .banner h1{
    font: 600 34px Roboto,sans-serif !important;
    margin-bottom: -10px !important;
    white-space: wrap;
    word-break: break-all;
  }

  .banner h5{
    font: bold 11px Roboto,sans-serif !important;
    letter-spacing: 1.8rem !important;
    white-space: wrap;
    word-break: break-all;
  }

  .container{
    width: 90%;
  } 

  .section-set{
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-card{
    width: 95%;
    display: flex;
    justify-content: start;
  }

    section h1{
    font: 600 28px Roboto,sans-serif !important;
    margin-bottom: 30px !important;
  }

  .profile, .profile .container{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .container>div{
    display: flex;
    align-self: center !important;
    justify-content: center;
  }

  #profile img{
    width: 150px;
    height: 150px;
  }

    img{
    width: 80%;
  }
  .profile>p{
    text-indent: 0px;
  }
}