:root{
--g_padding: 10px;
--g_background: ;
--font_color: rgb(51, 51, 51);
--section_height: 100vh;
--container_width: 80%;
}

*{
  box-sizing: border-box;
  /* user-select: none; */
}
html, body{
  width: 100%;
  scrollbar-width: 0px;
  -webkit-scrollbar: none;
}

html::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome/Safari */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome/Safari */
}

body{
  margin: 0;
  padding: 0;
  color: var(--font_color);
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

p{
  font-weight: 300 !important;
  font-size: 1.22rem !important;
  line-height: 1.7;
}
/* nav menu  */
#nav-menu{
  display: none;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: roboto;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 80px 0% -10% 0%;
  padding: 2%;
  letter-spacing: 3px;
  word-spacing: 6px;
  overflow: hidden;
}
.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  opacity: 1;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #ffffff, #000000, #ffffff, #000000, #ffffff, #000000, #ffffff);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s linear infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
    opacity: 0.4;
  }
  50% {
    background-position: 50% 100%;
    opacity: 0.4;
  }
  100% {
    background-position: 100% 50%;
    opacity: 0.4;
  }
}

#nav-menu ul{
  list-style-position: inside;
  list-style-type: none;
  text-transform: uppercase;
  padding-inline-start: 0;
  font: 400 1rem 'Roboto', sans-serif !important;
  margin-top: 20%;
}

#nav-menu ul li{
  margin: 3%;
  padding: 3%;
  background-color: #ffffff;
  color: black;
  text-align: center;
}

#nav-menu ul li:active{
  background-color: transparent;
  color: white;
}

/* HEADER START  */
#humb{
  display: none;
}

header{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  z-index:100;
}

header ul{
  margin: auto;
  width:90%;
  padding-inline-start: 0;
  text-transform: uppercase;
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  justify-content: space-between;
}

header li{
  padding: 0px 10px;
  height: 50px;
  margin-right: 25px;
  font: 600 18px 'Roboto', sans-serif !important;
  flex-grow: 1;
  cursor:pointer;
}


/* BANNER ANIMATION STYLE */
.banner{
  height:var(--section_height);
  text-transform: uppercase;
  flex-direction: column;
  font-family: Roboto;
  letter-spacing: 1rem;
}

.banner h1{
  font: 600 66px Roboto;
  margin-bottom: -5px;
}

.banner h5{
  font: bold 22px Roboto;
  letter-spacing: 2rem;
}

.typing-text {
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  width: fit-content;
}

.blinking-animation {
  animation: blinkCursor 0.8s steps(1) infinite;
}

.no-blinking-sign {
  border: none;
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}

/* ---FIRST PART OF THE PAGE---   */
.profile{
  background-color: #eee;
  flex-direction: column;
}
.profile h1{
  margin-bottom: 80px;
}
.profile .container{
  width: var(--container_width);
  gap: 80px;
  margin: 0px auto auto;
}
.profile .container>div{
  flex:1;
  align-self: flex-start;
  max-width: 200px;
  min-width: 150px;
}
img{
  border-radius: 50%;
  width: 100%;
}
.profile .container div:nth-of-type(2){
  /* background-color: black; */
  line-height: 2.4;
  white-space: wrap;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}


.profile p{
  font-weight: 300 !important;
  font-size: 1.4rem !important;
  line-height: 1.8 !important;
  margin: 0;
  text-align: start;
}


/* SKILL PART OF THE PAGE */
.skill h2{
  text-align: center;
}

section h1, 
.container h1{
  font: 800 34px Roboto;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 40px;
}

.container h2{
  font: 600 24px Roboto;
  text-transform: capitalize;
  line-height: 0;
  margin: 100px 0px 30px;
}

.container h2:nth-of-type(2){
  margin: 150px 0px 30px;
}

hr{
  max-width: 1600px;
}
.container h3{
  font: 500 20px Roboto;
  line-height: 0;
  text-align: start;
}

#certificate h3{
  font: 400 18px Roboto;
  white-space: wrap;
  word-break: break-word;
  line-height: 1.7 !important;
}

#certificate img{
  margin-top: 20px !important;
}
section h3:not(.x){
    text-transform: uppercase;
}
.x{
  text-transform: capitalize;
}

/* from here project section   */
.project-card{
  padding: 10px 20px;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: 0.25s ease;
  cursor: pointer;
  border: 0.1px solid rgb(178, 178, 178);
}
.project-card:hover{
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.1);
}

.project-card-txt h3{
  white-space: normal;
  word-break: break-word;
  line-height: 1;

}
.project-card img{
  width: 20% !important;
  align-self: center !important;
  margin: 0 !important;
}
#rps{
  width: 15% !important;
}

/* certificate section   */
.certificate .container{
  padding: 0px 20px ;
}

/* work section styling  */
.work-history{
  list-style-position: inside;
  list-style-type: none;
  width: 95%;
  max-width: 1400px;
  margin: auto;
  padding-inline-start: 0px;
}

.year{
  border: 1px solid var(--font_color);
  margin: 10px;
  padding: 0px 30px;
  cursor: pointer;
}
.year h3{
  position: relative;
  padding: 20px 0px 20px 25px;
  font-weight: 300;
  font-size: large;
}
.year h3::before{
  content: '+';
  position: absolute;
  top: -1px;
  left: -20px;
  padding: 20px 0px 20px 20px;
  transform: scale(1.5);
  font-weight: 200;
  transition: 0.15s ease;
  transform-origin: 80%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.open h3::before{
  transform: scale(1.5) rotate(45deg);
  -webkit-transform: scale(1.5) rotate(45deg);
  -moz-transform: scale(1.5) rotate(45deg);
  -ms-transform: scale(1.5) rotate(45deg);
  -o-transform: scale(1.5) rotate(45deg);
}

.year-project{
  width: 98%;
  border: 1px solid var(--font_color);
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 50px;
}

.child{
  display: none;

}

.year-project th{
  background-color: #959595;
  border: 1px solid var(--font_color);
  padding: 0px 0px ;
  color: white;
  width: 30%;
  font-weight: 400;
}

.year-project td{
  text-align: start;
  border: 1px solid var(--font_color);
  padding: 14px 12px;
  font-weight: 300 !important;
}


/* CONTACT SECTION  */
#contact{
  height: 100vh;
}
#contact .container .flip-card{
  position: relative;
  perspective: 600px;
  transform-style: preserve-3d;
  transition: 1s ease;
  font: 600 18px Roboto;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

#contact .container .front-face,
#contact .container .back-face{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  inset: 0px;
  width: 200px;
  height: 80px;
  cursor: pointer;

}

#contact .container .front-face{
  background-color: rgb(45, 45, 45);
  color: white;
}

#contact .container .flip-card:hover .front-face{
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

#contact .container .back-face{
  transform: rotatex(180deg);
  backface-visibility: hidden;
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;
  height: 100px !important;
  width: 440px !important;
  line-height: 1.9 !important;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font: 200 14px Roboto;
  letter-spacing: 0.3rem;
  user-select: text !important;
  -webkit-transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  -ms-transform: rotatex(180deg);
  -o-transform: rotatex(180deg);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-backface-visibility: hidden;

}

#contact .container div.flipped{
  transform: rotatex(180deg);
  white-space: wrap;
  overflow: visible;
}

/* ---- FOOTER */
footer{
  width: 100%;
  margin: auto;
  height: 60px;
  background-color: black;
  color: white;
  font: 400 10px Roboto;
}


 /* -- -----  */
#scrollTopBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 100;


  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; /* hidden by default */
  transition: opacity 0.3s ease;
}
button img{
  transform: scale(2);
}
