*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 27, 27);
  color: white;
}

#particles{
  position: fixed;
  inset: 0px;
  height: 100vmax;
  width: 100vmax;
  z-index:99999;
  overflow: hidden !important;
  opacity: 0.1;
} 
.circle-animation{
  position:fixed;
  top: 50%;
  left: 50%;
  width: 200vmax;
  height: 200vmax;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: shrink-circle 2s ease-in-out forwards;
  animation-iteration-count: 1;
  z-index: 999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: shrink-circle 2s ease-in-out forwards;
}


@keyframes shrink-circle {
  100%{
    transform: translate(-50%, -50%) scale(0);
    }
}


img{
  height: 70px
}

.Title{
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  font: 500 3rem arial;
}
.game-buttons{
  margin-bottom: 20px;
  display: flex;
}
.rock-button,
.paper-button,
.scissors-button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
}
.chosen-moves{
  height: 40px;
}
.js-Chosen-move{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  white-space: pre;
  font: 300 14px arial;
}
.js-scoreLine{
  font: 300 20px arial;
}
.js-result{
  font: 600 24px arial;
  margin: 15px 0px 0px 0px;
}
.reset-button{
  font: 600 16px arial;
  margin-top: 10px;
  border-style: none;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width:800px){
  .Title{
    margin-top: 20%;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    font: 800 1.5rem arial;
    letter-spacing: 0.3rem;
  }

  img{
    height: 40px;
    justify-self: center;
    align-self: center;
  }

  .rock-button,
  .paper-button,
  .scissors-button{
    padding: 30px;
  }

  .chosen-moves{
    height: 30px;
  }
}
/* ---- FOOTER */
footer{
  display: block;
  position: absolute;
  width: 100%;
  margin: auto;
  height: 60px;
  background-color: black;
  color: white;
  font: 400 10px Roboto;
  align-self: flex-end;
  bottom: 0;
  z-index: 99999999;
}

html, body{
  margin: 0;
}
